body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1039px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:51px;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:0px;
  width:202px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u767_img.mouseOver {
}
#u767.mouseOver {
}
#u767_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:51px;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:0px;
  width:60px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u768_img.mouseOver {
}
#u768.mouseOver {
}
#u768_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:51px;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:0px;
  width:82px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u769_img.mouseOver {
}
#u769.mouseOver {
}
#u769_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:51px;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u770_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:20px;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:14px;
  width:140px;
  height:20px;
}
#u771_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:17px;
  width:48px;
  height:16px;
  color:#0066CC;
}
#u772_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:951px;
  top:19px;
  width:14px;
  height:13px;
}
#u773_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:51px;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:67px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u774_img.mouseOver {
}
#u774.mouseOver {
}
#u774_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:63px;
  word-wrap:break-word;
}
#u775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:51px;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:0px;
  width:113px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u775_img.mouseOver {
}
#u775.mouseOver {
}
#u775_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:109px;
  word-wrap:break-word;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:0px;
  width:233px;
  height:50px;
}
#u776_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:50px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u777 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:50px;
}
#u778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:51px;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:50px;
  font-size:15px;
}
#u778_img.mouseOver {
}
#u778.mouseOver {
}
#u778_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:130px;
  word-wrap:break-word;
}
#u779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:51px;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:0px;
  width:99px;
  height:50px;
  font-size:15px;
}
#u779_img.mouseOver {
}
#u779.mouseOver {
}
#u779_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:138px;
  height:150px;
  visibility:hidden;
}
#u780_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:150px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u781 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:150px;
}
#u782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:37px;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
  color:#000000;
}
#u782_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:39px;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:138px;
  height:38px;
}
#u783_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:134px;
  word-wrap:break-word;
}
#u784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:39px;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:74px;
  width:138px;
  height:38px;
}
#u784_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:134px;
  word-wrap:break-word;
}
#u785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:39px;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:112px;
  width:138px;
  height:38px;
}
#u785_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:134px;
  word-wrap:break-word;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:36px;
  width:138px;
  height:228px;
  visibility:hidden;
}
#u786_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:228px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u787 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:228px;
}
#u788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:39px;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:38px;
}
#u788_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:134px;
  word-wrap:break-word;
}
#u789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:39px;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:38px;
  width:138px;
  height:38px;
}
#u789_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:134px;
  word-wrap:break-word;
}
#u790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:39px;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:76px;
  width:138px;
  height:38px;
}
#u790_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:134px;
  word-wrap:break-word;
}
#u791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:39px;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:114px;
  width:138px;
  height:38px;
}
#u791_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:134px;
  word-wrap:break-word;
}
#u792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:39px;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:152px;
  width:138px;
  height:38px;
}
#u792_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:134px;
  word-wrap:break-word;
}
#u793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:39px;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:190px;
  width:138px;
  height:38px;
}
#u793_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:134px;
  word-wrap:break-word;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:74px;
  width:138px;
  height:114px;
  visibility:hidden;
}
#u794_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:114px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u795 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:114px;
}
#u796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:39px;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:38px;
  font-size:15px;
}
#u796_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:39px;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:38px;
  width:138px;
  height:38px;
  font-size:15px;
}
#u797_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:39px;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:76px;
  width:138px;
  height:38px;
  font-size:15px;
  color:#000000;
}
#u798_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:50px;
  width:143px;
  height:160px;
  visibility:hidden;
}
#u799_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:160px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u800 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:160px;
}
#u801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:51px;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:50px;
}
#u801_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:139px;
  word-wrap:break-word;
}
#u802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:56px;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:143px;
  height:55px;
}
#u802_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:139px;
  word-wrap:break-word;
}
#u803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:56px;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:143px;
  height:55px;
}
#u803_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:139px;
  word-wrap:break-word;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:0px;
  width:117px;
  height:50px;
}
#u804_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:50px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u805 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:50px;
}
#u806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:51px;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:50px;
  font-size:15px;
}
#u806_img.mouseOver {
}
#u806.mouseOver {
}
#u806_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:113px;
  word-wrap:break-word;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:127px;
  height:150px;
  visibility:hidden;
}
#u807_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:150px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u808 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:150px;
}
#u809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:51px;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:50px;
}
#u809_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:123px;
  word-wrap:break-word;
}
#u810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:51px;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:127px;
  height:50px;
}
#u810_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:123px;
  word-wrap:break-word;
}
#u811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:51px;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:127px;
  height:50px;
}
#u811_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:123px;
  word-wrap:break-word;
}
#u812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:18px;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:83px;
  width:71px;
  height:17px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:15px;
}
#u812_img.mouseOver {
}
#u812.mouseOver {
}
#u812_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:20px;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:123px;
  width:116px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u813_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:822px;
  height:33px;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:164px;
  width:821px;
  height:32px;
  font-size:14px;
}
#u814_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:821px;
  word-wrap:break-word;
}
#u815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:821px;
  height:381px;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:225px;
  width:821px;
  height:381px;
}
#u815_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:966px;
  height:60px;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:826px;
  width:965px;
  height:59px;
}
#u816_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:961px;
  word-wrap:break-word;
}
#u817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:841px;
  width:154px;
  height:30px;
}
#u817_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:966px;
  height:199px;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:628px;
  width:965px;
  height:198px;
}
#u818_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:15px;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:725px;
  width:61px;
  height:14px;
  font-size:11px;
}
#u819_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:17px;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:654px;
  width:88px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u820_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:708px;
  width:52px;
  height:14px;
  font-size:11px;
}
#u821_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:15px;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:732px;
  width:90px;
  height:14px;
  font-size:11px;
}
#u822_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:15px;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:756px;
  width:107px;
  height:14px;
  font-size:11px;
}
#u823_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:644px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u824_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:686px;
  width:38px;
  height:14px;
  font-size:11px;
}
#u825_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:17px;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:656px;
  width:114px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u826_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:705px;
  width:98px;
  height:14px;
  font-size:11px;
}
#u827_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:17px;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:656px;
  width:95px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u828_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:15px;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:743px;
  width:187px;
  height:14px;
  font-size:11px;
}
#u829_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:760px;
  width:48px;
  height:14px;
  font-size:11px;
  text-align:center;
}
#u830_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:775px;
  width:96px;
  height:14px;
  font-size:11px;
  text-align:center;
}
#u831_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:15px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:684px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u832_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:15px;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:686px;
  width:71px;
  height:14px;
  font-size:11px;
  text-align:center;
}
#u833_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:705px;
  width:59px;
  height:14px;
  font-size:11px;
  text-align:center;
}
#u834_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:17px;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:656px;
  width:67px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u835_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:15px;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:688px;
  width:94px;
  height:14px;
  font-size:11px;
}
#u836_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:15px;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:712px;
  width:178px;
  height:14px;
  font-size:11px;
}
#u837_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  word-wrap:break-word;
}
#u838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:15px;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:736px;
  width:165px;
  height:14px;
  font-size:11px;
}
#u838_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  word-wrap:break-word;
}
#u839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:65px;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:250px;
  width:172px;
  height:64px;
  color:#FF0000;
}
#u839_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:17px;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:84px;
  width:172px;
  height:16px;
  color:#FF0000;
}
#u840_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
