body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1461px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:23px;
}
#u2458 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:50px;
  width:264px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2458_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  white-space:nowrap;
}
#u2459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2459 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:95px;
  width:57px;
  height:16px;
}
#u2459_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:17px;
}
#u2460 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:95px;
  width:197px;
  height:16px;
}
#u2460_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u2461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u2461 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:125px;
  width:43px;
  height:16px;
}
#u2461_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:17px;
}
#u2462 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:125px;
  width:147px;
  height:16px;
}
#u2462_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u2463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2463 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:157px;
  width:57px;
  height:16px;
}
#u2463_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
}
#u2464 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:157px;
  width:75px;
  height:16px;
}
#u2464_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u2465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:2px;
}
#u2465 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:189px;
  width:727px;
  height:1px;
}
#u2465_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:33px;
}
#u2466 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:249px;
  width:727px;
  height:32px;
}
#u2466_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  word-wrap:break-word;
}
#u2467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:19px;
}
#u2467 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:291px;
  width:467px;
  height:18px;
  text-decoration:underline;
  color:#199ED8;
}
#u2467_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  word-wrap:break-word;
}
#u2468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1075px;
  height:32px;
}
#u2468 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:38px;
  width:1074px;
  height:31px;
  color:#FF0000;
}
#u2468_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1074px;
  white-space:nowrap;
}
#u2469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u2469 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:291px;
  width:127px;
  height:16px;
  color:#FF0000;
}
#u2469_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u2470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:721px;
  height:37px;
}
#u2470 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:333px;
  width:720px;
  height:36px;
}
#u2470_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  word-wrap:break-word;
}
#u2471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  height:65px;
}
#u2471 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:391px;
  width:584px;
  height:64px;
}
#u2471_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  word-wrap:break-word;
}
#u2472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2472 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:210px;
  width:57px;
  height:16px;
}
#u2472_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u2473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:17px;
}
#u2473 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:210px;
  width:226px;
  height:16px;
  color:#FF0000;
}
#u2473_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  white-space:nowrap;
}
#u2474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:17px;
}
#u2474 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:157px;
  width:282px;
  height:16px;
  color:#FF0000;
}
#u2474_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  white-space:nowrap;
}
#u2475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u2475 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:125px;
  width:99px;
  height:16px;
  color:#FF0000;
}
#u2475_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
