body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:51px;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:0px;
  width:202px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u842_img.mouseOver {
}
#u842.mouseOver {
}
#u842_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:51px;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:0px;
  width:60px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u843_img.mouseOver {
}
#u843.mouseOver {
}
#u843_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:51px;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:0px;
  width:82px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u844_img.mouseOver {
}
#u844.mouseOver {
}
#u844_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:51px;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u845_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:20px;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:14px;
  width:140px;
  height:20px;
}
#u846_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:17px;
  width:48px;
  height:16px;
  color:#0066CC;
}
#u847_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:951px;
  top:19px;
  width:14px;
  height:13px;
}
#u848_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:51px;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:67px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u849_img.mouseOver {
}
#u849.mouseOver {
}
#u849_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:63px;
  word-wrap:break-word;
}
#u850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:51px;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:0px;
  width:113px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u850_img.mouseOver {
}
#u850.mouseOver {
}
#u850_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:109px;
  word-wrap:break-word;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:0px;
  width:233px;
  height:50px;
}
#u851_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:50px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u852 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:50px;
}
#u853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:51px;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:50px;
  font-size:15px;
}
#u853_img.mouseOver {
}
#u853.mouseOver {
}
#u853_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:130px;
  word-wrap:break-word;
}
#u854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:51px;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:0px;
  width:99px;
  height:50px;
  font-size:15px;
}
#u854_img.mouseOver {
}
#u854.mouseOver {
}
#u854_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:138px;
  height:150px;
  visibility:hidden;
}
#u855_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:150px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u856 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:150px;
}
#u857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:37px;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
  color:#000000;
}
#u857_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:39px;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:138px;
  height:38px;
}
#u858_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:134px;
  word-wrap:break-word;
}
#u859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:39px;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:74px;
  width:138px;
  height:38px;
}
#u859_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:134px;
  word-wrap:break-word;
}
#u860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:39px;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:112px;
  width:138px;
  height:38px;
}
#u860_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:134px;
  word-wrap:break-word;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:36px;
  width:138px;
  height:228px;
  visibility:hidden;
}
#u861_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:228px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u862 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:228px;
}
#u863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:39px;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:38px;
}
#u863_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:134px;
  word-wrap:break-word;
}
#u864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:39px;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:38px;
  width:138px;
  height:38px;
}
#u864_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:134px;
  word-wrap:break-word;
}
#u865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:39px;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:76px;
  width:138px;
  height:38px;
}
#u865_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:134px;
  word-wrap:break-word;
}
#u866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:39px;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:114px;
  width:138px;
  height:38px;
}
#u866_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:134px;
  word-wrap:break-word;
}
#u867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:39px;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:152px;
  width:138px;
  height:38px;
}
#u867_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:134px;
  word-wrap:break-word;
}
#u868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:39px;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:190px;
  width:138px;
  height:38px;
}
#u868_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:134px;
  word-wrap:break-word;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:74px;
  width:138px;
  height:114px;
  visibility:hidden;
}
#u869_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:114px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u870 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:114px;
}
#u871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:39px;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:38px;
  font-size:15px;
}
#u871_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:39px;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:38px;
  width:138px;
  height:38px;
  font-size:15px;
}
#u872_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:39px;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:76px;
  width:138px;
  height:38px;
  font-size:15px;
  color:#000000;
}
#u873_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:50px;
  width:143px;
  height:160px;
  visibility:hidden;
}
#u874_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:160px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u875 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:160px;
}
#u876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:51px;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:50px;
}
#u876_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:139px;
  word-wrap:break-word;
}
#u877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:56px;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:143px;
  height:55px;
}
#u877_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:139px;
  word-wrap:break-word;
}
#u878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:56px;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:143px;
  height:55px;
}
#u878_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:139px;
  word-wrap:break-word;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:0px;
  width:117px;
  height:50px;
}
#u879_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:50px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u880 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:50px;
}
#u881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:51px;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:50px;
  font-size:15px;
}
#u881_img.mouseOver {
}
#u881.mouseOver {
}
#u881_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:113px;
  word-wrap:break-word;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:127px;
  height:150px;
  visibility:hidden;
}
#u882_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:150px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u883 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:150px;
}
#u884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:51px;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:50px;
}
#u884_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:123px;
  word-wrap:break-word;
}
#u885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:51px;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:127px;
  height:50px;
}
#u885_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:123px;
  word-wrap:break-word;
}
#u886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:51px;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:127px;
  height:50px;
}
#u886_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:123px;
  word-wrap:break-word;
}
#u887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:18px;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:83px;
  width:71px;
  height:17px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:15px;
}
#u887_img.mouseOver {
}
#u887.mouseOver {
}
#u887_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:20px;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:123px;
  width:147px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u888_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:822px;
  height:33px;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:164px;
  width:821px;
  height:32px;
  font-size:14px;
}
#u889_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:821px;
  word-wrap:break-word;
}
#u890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:966px;
  height:60px;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:826px;
  width:965px;
  height:59px;
}
#u890_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:961px;
  word-wrap:break-word;
}
#u891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:841px;
  width:154px;
  height:30px;
}
#u891_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:966px;
  height:199px;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:628px;
  width:965px;
  height:198px;
}
#u892_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:15px;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:725px;
  width:61px;
  height:14px;
  font-size:11px;
}
#u893_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:17px;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:654px;
  width:88px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u894_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:708px;
  width:52px;
  height:14px;
  font-size:11px;
}
#u895_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:15px;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:732px;
  width:90px;
  height:14px;
  font-size:11px;
}
#u896_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:15px;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:756px;
  width:107px;
  height:14px;
  font-size:11px;
}
#u897_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:644px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u898_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:15px;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:686px;
  width:41px;
  height:14px;
  font-size:11px;
}
#u899_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:17px;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:656px;
  width:114px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u900_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:705px;
  width:98px;
  height:14px;
  font-size:11px;
}
#u901_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:17px;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:656px;
  width:95px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u902_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:15px;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:743px;
  width:187px;
  height:14px;
  font-size:11px;
}
#u903_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:760px;
  width:48px;
  height:14px;
  font-size:11px;
  text-align:center;
}
#u904_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:775px;
  width:96px;
  height:14px;
  font-size:11px;
  text-align:center;
}
#u905_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:15px;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:684px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u906_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:15px;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:686px;
  width:71px;
  height:14px;
  font-size:11px;
  text-align:center;
}
#u907_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:705px;
  width:59px;
  height:14px;
  font-size:11px;
  text-align:center;
}
#u908_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:17px;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:656px;
  width:67px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u909_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:15px;
}
#u910 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:688px;
  width:94px;
  height:14px;
  font-size:11px;
}
#u910_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:15px;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:712px;
  width:178px;
  height:14px;
  font-size:11px;
}
#u911_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  word-wrap:break-word;
}
#u912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:15px;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:736px;
  width:165px;
  height:14px;
  font-size:11px;
}
#u912_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  word-wrap:break-word;
}
#u913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:49px;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:250px;
  width:69px;
  height:48px;
  color:#FF0000;
}
#u913_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:806px;
  height:403px;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:206px;
  width:806px;
  height:403px;
}
#u914_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:17px;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:84px;
  width:172px;
  height:16px;
  color:#FF0000;
}
#u915_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
