body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:498px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:219px;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:34px;
  width:440px;
  height:218px;
}
#u507_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:35px;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:34px;
  width:440px;
  height:34px;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u508_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:436px;
  word-wrap:break-word;
}
#u509_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:27px;
  height:5px;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:49px;
  width:24px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u509_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u510_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:27px;
  height:5px;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:49px;
  width:24px;
  height:2px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u510_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:94px;
  width:229px;
  height:24px;
  font-size:20px;
}
#u511_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  white-space:nowrap;
}
#u512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:28px;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:178px;
  width:70px;
  height:27px;
  font-size:16px;
}
#u512_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u513_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:28px;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:178px;
  width:70px;
  height:27px;
  font-size:16px;
  color:#000000;
}
#u513_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
