body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1441px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u66_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:64px;
  background:inherit;
  background-color:rgba(0, 40, 77, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66 {
  position:absolute;
  left:1px;
  top:1px;
  width:1440px;
  height:64px;
}
#u67 {
  position:absolute;
  left:2px;
  top:24px;
  width:1436px;
  word-wrap:break-word;
}
#u68_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u68 {
  position:absolute;
  left:25px;
  top:26px;
  width:167px;
  height:21px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:715px;
}
#u70 {
  position:absolute;
  left:1px;
  top:65px;
  width:1440px;
  height:715px;
}
#u71 {
  position:absolute;
  left:2px;
  top:350px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u72 {
  position:absolute;
  left:701px;
  top:140px;
  width:225px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u74 {
  position:absolute;
  left:1323px;
  top:25px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u76 {
  position:absolute;
  left:1362px;
  top:25px;
  width:71px;
  height:16px;
  color:#FFFFFF;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u76_ann {
  position:absolute;
  left:1426px;
  top:21px;
  width:1px;
  height:1px;
}
