body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1176px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:128px;
  top:86px;
  width:1053px;
  height:541px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
  text-align:center;
}
#u2 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:36px;
}
#u3 {
  position:absolute;
  left:122px;
  top:0px;
  width:432px;
  height:36px;
  text-align:center;
}
#u4 {
  position:absolute;
  left:2px;
  top:10px;
  width:428px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:36px;
}
#u5 {
  position:absolute;
  left:554px;
  top:0px;
  width:84px;
  height:36px;
  text-align:center;
}
#u6 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:36px;
}
#u7 {
  position:absolute;
  left:638px;
  top:0px;
  width:103px;
  height:36px;
  text-align:center;
}
#u8 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u9 {
  position:absolute;
  left:741px;
  top:0px;
  width:126px;
  height:36px;
  text-align:center;
}
#u10 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u11 {
  position:absolute;
  left:867px;
  top:0px;
  width:181px;
  height:36px;
  text-align:center;
}
#u12 {
  position:absolute;
  left:2px;
  top:10px;
  width:177px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:61px;
}
#u13 {
  position:absolute;
  left:0px;
  top:36px;
  width:122px;
  height:61px;
  text-align:center;
}
#u14 {
  position:absolute;
  left:2px;
  top:14px;
  width:118px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:61px;
}
#u15 {
  position:absolute;
  left:122px;
  top:36px;
  width:432px;
  height:61px;
  text-align:left;
}
#u16 {
  position:absolute;
  left:2px;
  top:22px;
  width:428px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:61px;
}
#u17 {
  position:absolute;
  left:554px;
  top:36px;
  width:84px;
  height:61px;
  text-align:center;
}
#u18 {
  position:absolute;
  left:2px;
  top:22px;
  width:80px;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:61px;
}
#u19 {
  position:absolute;
  left:638px;
  top:36px;
  width:103px;
  height:61px;
  text-align:center;
}
#u20 {
  position:absolute;
  left:2px;
  top:22px;
  width:99px;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:61px;
}
#u21 {
  position:absolute;
  left:741px;
  top:36px;
  width:126px;
  height:61px;
  text-align:center;
}
#u22 {
  position:absolute;
  left:2px;
  top:22px;
  width:122px;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:61px;
}
#u23 {
  position:absolute;
  left:867px;
  top:36px;
  width:181px;
  height:61px;
  text-align:center;
}
#u24 {
  position:absolute;
  left:2px;
  top:22px;
  width:177px;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:137px;
}
#u25 {
  position:absolute;
  left:0px;
  top:97px;
  width:122px;
  height:137px;
  text-align:center;
}
#u26 {
  position:absolute;
  left:2px;
  top:52px;
  width:118px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:137px;
}
#u27 {
  position:absolute;
  left:122px;
  top:97px;
  width:432px;
  height:137px;
  text-align:left;
}
#u28 {
  position:absolute;
  left:2px;
  top:4px;
  width:428px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:137px;
}
#u29 {
  position:absolute;
  left:554px;
  top:97px;
  width:84px;
  height:137px;
  text-align:center;
}
#u30 {
  position:absolute;
  left:2px;
  top:60px;
  width:80px;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:137px;
}
#u31 {
  position:absolute;
  left:638px;
  top:97px;
  width:103px;
  height:137px;
  text-align:center;
}
#u32 {
  position:absolute;
  left:2px;
  top:60px;
  width:99px;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:137px;
}
#u33 {
  position:absolute;
  left:741px;
  top:97px;
  width:126px;
  height:137px;
  text-align:center;
}
#u34 {
  position:absolute;
  left:2px;
  top:60px;
  width:122px;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:137px;
}
#u35 {
  position:absolute;
  left:867px;
  top:97px;
  width:181px;
  height:137px;
  text-align:center;
}
#u36 {
  position:absolute;
  left:2px;
  top:60px;
  width:177px;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:151px;
}
#u37 {
  position:absolute;
  left:0px;
  top:234px;
  width:122px;
  height:151px;
  text-align:center;
}
#u38 {
  position:absolute;
  left:2px;
  top:60px;
  width:118px;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:151px;
}
#u39 {
  position:absolute;
  left:122px;
  top:234px;
  width:432px;
  height:151px;
  text-align:left;
}
#u40 {
  position:absolute;
  left:2px;
  top:20px;
  width:428px;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:151px;
}
#u41 {
  position:absolute;
  left:554px;
  top:234px;
  width:84px;
  height:151px;
  text-align:center;
}
#u42 {
  position:absolute;
  left:2px;
  top:68px;
  width:80px;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:151px;
}
#u43 {
  position:absolute;
  left:638px;
  top:234px;
  width:103px;
  height:151px;
  text-align:center;
}
#u44 {
  position:absolute;
  left:2px;
  top:68px;
  width:99px;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:151px;
}
#u45 {
  position:absolute;
  left:741px;
  top:234px;
  width:126px;
  height:151px;
  text-align:center;
}
#u46 {
  position:absolute;
  left:2px;
  top:68px;
  width:122px;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:151px;
}
#u47 {
  position:absolute;
  left:867px;
  top:234px;
  width:181px;
  height:151px;
  text-align:center;
}
#u48 {
  position:absolute;
  left:2px;
  top:68px;
  width:177px;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:151px;
}
#u49 {
  position:absolute;
  left:0px;
  top:385px;
  width:122px;
  height:151px;
  text-align:center;
}
#u50 {
  position:absolute;
  left:2px;
  top:60px;
  width:118px;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:151px;
}
#u51 {
  position:absolute;
  left:122px;
  top:385px;
  width:432px;
  height:151px;
  color:#FF0000;
  text-align:left;
}
#u52 {
  position:absolute;
  left:2px;
  top:68px;
  width:428px;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:151px;
}
#u53 {
  position:absolute;
  left:554px;
  top:385px;
  width:84px;
  height:151px;
  text-align:center;
}
#u54 {
  position:absolute;
  left:2px;
  top:68px;
  width:80px;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:151px;
}
#u55 {
  position:absolute;
  left:638px;
  top:385px;
  width:103px;
  height:151px;
  text-align:center;
}
#u56 {
  position:absolute;
  left:2px;
  top:68px;
  width:99px;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:151px;
}
#u57 {
  position:absolute;
  left:741px;
  top:385px;
  width:126px;
  height:151px;
  text-align:center;
}
#u58 {
  position:absolute;
  left:2px;
  top:68px;
  width:122px;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:151px;
}
#u59 {
  position:absolute;
  left:867px;
  top:385px;
  width:181px;
  height:151px;
  text-align:center;
}
#u60 {
  position:absolute;
  left:2px;
  top:68px;
  width:177px;
  word-wrap:break-word;
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u61 {
  position:absolute;
  left:382px;
  top:38px;
  width:145px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u63_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u63 {
  position:absolute;
  left:121px;
  top:643px;
  width:351px;
  height:16px;
  color:#FF0000;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  white-space:nowrap;
}
