body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:51px;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:0px;
  width:202px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u993_img.mouseOver {
}
#u993.mouseOver {
}
#u993_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:51px;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:0px;
  width:60px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u994_img.mouseOver {
}
#u994.mouseOver {
}
#u994_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:51px;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:0px;
  width:82px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u995_img.mouseOver {
}
#u995.mouseOver {
}
#u995_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:51px;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u996_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:20px;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:14px;
  width:140px;
  height:20px;
}
#u997_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:17px;
  width:48px;
  height:16px;
  color:#0066CC;
}
#u998_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:951px;
  top:19px;
  width:14px;
  height:13px;
}
#u999_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:51px;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:67px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1000_img.mouseOver {
}
#u1000.mouseOver {
}
#u1000_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:63px;
  word-wrap:break-word;
}
#u1001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:51px;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:0px;
  width:113px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u1001_img.mouseOver {
}
#u1001.mouseOver {
}
#u1001_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:109px;
  word-wrap:break-word;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:0px;
  width:233px;
  height:50px;
}
#u1002_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:50px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:50px;
}
#u1004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:51px;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:50px;
  font-size:15px;
}
#u1004_img.mouseOver {
}
#u1004.mouseOver {
}
#u1004_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:130px;
  word-wrap:break-word;
}
#u1005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:51px;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:0px;
  width:99px;
  height:50px;
  font-size:15px;
}
#u1005_img.mouseOver {
}
#u1005.mouseOver {
}
#u1005_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:95px;
  word-wrap:break-word;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:138px;
  height:150px;
  visibility:hidden;
}
#u1006_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:150px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:150px;
}
#u1008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:37px;
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
  color:#000000;
}
#u1008_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u1009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:39px;
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:138px;
  height:38px;
}
#u1009_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:134px;
  word-wrap:break-word;
}
#u1010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:39px;
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:74px;
  width:138px;
  height:38px;
}
#u1010_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:134px;
  word-wrap:break-word;
}
#u1011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:39px;
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:112px;
  width:138px;
  height:38px;
}
#u1011_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:134px;
  word-wrap:break-word;
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:36px;
  width:138px;
  height:228px;
  visibility:hidden;
}
#u1012_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:228px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:228px;
}
#u1014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:39px;
}
#u1014 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:38px;
}
#u1014_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:134px;
  word-wrap:break-word;
}
#u1015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:39px;
}
#u1015 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:38px;
  width:138px;
  height:38px;
}
#u1015_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:134px;
  word-wrap:break-word;
}
#u1016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:39px;
}
#u1016 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:76px;
  width:138px;
  height:38px;
}
#u1016_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:134px;
  word-wrap:break-word;
}
#u1017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:39px;
}
#u1017 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:114px;
  width:138px;
  height:38px;
}
#u1017_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:134px;
  word-wrap:break-word;
}
#u1018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:39px;
}
#u1018 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:152px;
  width:138px;
  height:38px;
}
#u1018_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:134px;
  word-wrap:break-word;
}
#u1019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:39px;
}
#u1019 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:190px;
  width:138px;
  height:38px;
}
#u1019_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:134px;
  word-wrap:break-word;
}
#u1020 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:74px;
  width:138px;
  height:114px;
  visibility:hidden;
}
#u1020_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:114px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1021 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:114px;
}
#u1022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:39px;
}
#u1022 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:38px;
  font-size:15px;
}
#u1022_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u1023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:39px;
}
#u1023 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:38px;
  width:138px;
  height:38px;
  font-size:15px;
}
#u1023_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u1024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:39px;
}
#u1024 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:76px;
  width:138px;
  height:38px;
  font-size:15px;
  color:#000000;
}
#u1024_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u1025 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:50px;
  width:143px;
  height:160px;
  visibility:hidden;
}
#u1025_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:160px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1026 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:160px;
}
#u1027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:51px;
}
#u1027 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:50px;
}
#u1027_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:139px;
  word-wrap:break-word;
}
#u1028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:56px;
}
#u1028 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:143px;
  height:55px;
}
#u1028_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:139px;
  word-wrap:break-word;
}
#u1029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:56px;
}
#u1029 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:143px;
  height:55px;
}
#u1029_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:139px;
  word-wrap:break-word;
}
#u1030 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:0px;
  width:117px;
  height:50px;
}
#u1030_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:50px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1031 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:50px;
}
#u1032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:51px;
}
#u1032 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:50px;
  font-size:15px;
}
#u1032_img.mouseOver {
}
#u1032.mouseOver {
}
#u1032_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:113px;
  word-wrap:break-word;
}
#u1033 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:127px;
  height:150px;
  visibility:hidden;
}
#u1033_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:150px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1034 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:150px;
}
#u1035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:51px;
}
#u1035 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:50px;
}
#u1035_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:123px;
  word-wrap:break-word;
}
#u1036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:51px;
}
#u1036 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:127px;
  height:50px;
}
#u1036_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:123px;
  word-wrap:break-word;
}
#u1037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:51px;
}
#u1037 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:127px;
  height:50px;
}
#u1037_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:123px;
  word-wrap:break-word;
}
#u1038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:18px;
}
#u1038 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:83px;
  width:71px;
  height:17px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:15px;
}
#u1038_img.mouseOver {
}
#u1038.mouseOver {
}
#u1038_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
}
#u1039 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:123px;
  width:82px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1039_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u1040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:822px;
  height:33px;
}
#u1040 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:164px;
  width:821px;
  height:32px;
  font-size:14px;
}
#u1040_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:821px;
  word-wrap:break-word;
}
#u1041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:966px;
  height:60px;
}
#u1041 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:826px;
  width:965px;
  height:59px;
}
#u1041_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:961px;
  word-wrap:break-word;
}
#u1042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
#u1042 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:841px;
  width:154px;
  height:30px;
}
#u1042_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:966px;
  height:199px;
}
#u1043 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:628px;
  width:965px;
  height:198px;
}
#u1043_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:15px;
}
#u1044 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:725px;
  width:61px;
  height:14px;
  font-size:11px;
}
#u1044_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:17px;
}
#u1045 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:654px;
  width:88px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1045_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u1046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
}
#u1046 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:708px;
  width:52px;
  height:14px;
  font-size:11px;
}
#u1046_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:15px;
}
#u1047 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:732px;
  width:90px;
  height:14px;
  font-size:11px;
}
#u1047_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u1048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:15px;
}
#u1048 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:756px;
  width:107px;
  height:14px;
  font-size:11px;
}
#u1048_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u1049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:644px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1049_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u1050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:15px;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:686px;
  width:41px;
  height:14px;
  font-size:11px;
}
#u1050_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:17px;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:656px;
  width:114px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1051_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u1052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:705px;
  width:98px;
  height:14px;
  font-size:11px;
}
#u1052_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u1053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:17px;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:656px;
  width:95px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1053_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u1054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:15px;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:743px;
  width:187px;
  height:14px;
  font-size:11px;
}
#u1054_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u1055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:760px;
  width:48px;
  height:14px;
  font-size:11px;
  text-align:center;
}
#u1055_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u1056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
}
#u1056 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:775px;
  width:96px;
  height:14px;
  font-size:11px;
  text-align:center;
}
#u1056_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u1057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:15px;
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:684px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u1057_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u1058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:15px;
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:686px;
  width:71px;
  height:14px;
  font-size:11px;
  text-align:center;
}
#u1058_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u1059 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:705px;
  width:59px;
  height:14px;
  font-size:11px;
  text-align:center;
}
#u1059_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:17px;
}
#u1060 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:656px;
  width:67px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1060_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u1061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:15px;
}
#u1061 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:688px;
  width:94px;
  height:14px;
  font-size:11px;
}
#u1061_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u1062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:15px;
}
#u1062 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:712px;
  width:178px;
  height:14px;
  font-size:11px;
}
#u1062_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  word-wrap:break-word;
}
#u1063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:15px;
}
#u1063 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:736px;
  width:165px;
  height:14px;
  font-size:11px;
}
#u1063_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  word-wrap:break-word;
}
#u1064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:65px;
}
#u1064 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:268px;
  width:181px;
  height:64px;
  color:#FF0000;
}
#u1064_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u1065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:33px;
}
#u1065 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:348px;
  width:181px;
  height:32px;
  color:#FF0000;
}
#u1065_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u1066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:737px;
  height:341px;
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:222px;
  width:737px;
  height:341px;
}
#u1066_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:17px;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:84px;
  width:172px;
  height:16px;
  color:#FF0000;
}
#u1067_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
