body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:738px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:17px;
}
#u1882 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:122px;
  width:527px;
  height:16px;
  color:#FF0000;
}
#u1882_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  white-space:nowrap;
}
